p, li {
    font-size: 18px;
}
#header {
    text-align: center;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 30px;
}
body {
    font-family: 'georgia';
    background-color: #EEE;
    margin: 0;
}